/* tokyo antioch church
   v0.0 2
*/

/*-------------------------------------------

Border

-------------------------------------------*/

.border-none { border: none !important; }

.border01-t { border-top: solid 1px #ccc !important; }
.border01-r { border-right: solid 1px #ccc !important; }
.border01-b { border-bottom: solid 1px #ccc !important; }
.border01-l { border-left: solid 1px #ccc !important; }


/*-------------------------------------------

Display

-------------------------------------------*/

.d-inline { display: inline; }
.d-block { display: block; }
.d-iblock { display: inline-block; }
.d-none { display: none; }
.d-table { display: table; }
.d-tcell { display: table-cell; }
.d-flex { display: flex; }
.d-iflex { display: inline-flex; }


/*-------------------------------------------

Width

-------------------------------------------*/

.w01p { width: 1% !important; }
.w02p { width: 2% !important; }
.w03p { width: 3% !important; }
.w04p { width: 4% !important; }
.w05p { width: 5% !important; }
.w06p { width: 6% !important; }
.w07p { width: 7% !important; }
.w08p { width: 8% !important; }
.w09p { width: 9% !important; }
.w10p { width: 10% !important; }
.w11p { width: 11% !important; }
.w12p { width: 12% !important; }
.w13p { width: 13% !important; }
.w14p { width: 14% !important; }
.w15p { width: 15% !important; }
.w16p { width: 16% !important; }
.w17p { width: 17% !important; }
.w18p { width: 18% !important; }
.w19p { width: 19% !important; }
.w20p { width: 20% !important; }
.w21p { width: 21% !important; }
.w22p { width: 22% !important; }
.w23p { width: 23% !important; }
.w24p { width: 24% !important; }
.w25p { width: 25% !important; }
.w26p { width: 26% !important; }
.w27p { width: 27% !important; }
.w28p { width: 28% !important; }
.w29p { width: 29% !important; }
.w30p { width: 30% !important; }
.w31p { width: 31% !important; }
.w32p { width: 32% !important; }
.w33p { width: 33% !important; }
.w34p { width: 34% !important; }
.w35p { width: 35% !important; }
.w36p { width: 36% !important; }
.w37p { width: 37% !important; }
.w38p { width: 38% !important; }
.w39p { width: 39% !important; }
.w40p { width: 40% !important; }
.w41p { width: 41% !important; }
.w42p { width: 42% !important; }
.w43p { width: 43% !important; }
.w44p { width: 44% !important; }
.w45p { width: 45% !important; }
.w46p { width: 46% !important; }
.w47p { width: 47% !important; }
.w48p { width: 48% !important; }
.w49p { width: 49% !important; }
.w50p { width: 50% !important; }
.w51p { width: 51% !important; }
.w52p { width: 52% !important; }
.w53p { width: 53% !important; }
.w54p { width: 54% !important; }
.w55p { width: 55% !important; }
.w56p { width: 56% !important; }
.w57p { width: 57% !important; }
.w58p { width: 58% !important; }
.w59p { width: 59% !important; }
.w60p { width: 60% !important; }
.w61p { width: 61% !important; }
.w62p { width: 62% !important; }
.w63p { width: 63% !important; }
.w64p { width: 64% !important; }
.w65p { width: 65% !important; }
.w66p { width: 66% !important; }
.w67p { width: 67% !important; }
.w68p { width: 68% !important; }
.w69p { width: 69% !important; }
.w70p { width: 70% !important; }
.w71p { width: 71% !important; }
.w72p { width: 72% !important; }
.w73p { width: 73% !important; }
.w74p { width: 74% !important; }
.w75p { width: 75% !important; }
.w76p { width: 76% !important; }
.w77p { width: 77% !important; }
.w78p { width: 78% !important; }
.w79p { width: 79% !important; }
.w80p { width: 80% !important; }
.w81p { width: 81% !important; }
.w82p { width: 82% !important; }
.w83p { width: 83% !important; }
.w84p { width: 84% !important; }
.w85p { width: 85% !important; }
.w86p { width: 86% !important; }
.w87p { width: 87% !important; }
.w88p { width: 88% !important; }
.w89p { width: 89% !important; }
.w90p { width: 90% !important; }
.w91p { width: 91% !important; }
.w92p { width: 92% !important; }
.w93p { width: 93% !important; }
.w94p { width: 94% !important; }
.w95p { width: 95% !important; }
.w96p { width: 96% !important; }
.w97p { width: 97% !important; }
.w98p { width: 98% !important; }
.w99p { width: 99% !important; }
.w100p { width: 100% !important; }

/*-------------------------------------------

float

-------------------------------------------*/

.f-left { float: left; }
.f-right { float: right; }
.f-wrap { z-index:0; overflow: hidden; }

/*-------------------------------------------

position

-------------------------------------------*/

.pos-s { position: static; }
.pos-a { position: absolute; }
.pos-r { position: relative; }

/*-------------------------------------------

Margin

-------------------------------------------*/

/*all*/

.m00 { margin: 0 !important; }
.m05 { margin: 5px !important; }
.m10 { margin: 10px !important; }
.m15 { margin: 15px !important; }
.m20 { margin: 20px !important; }
.m25 { margin: 25px !important; }
.m30 { margin: 30px !important; }
.m35 { margin: 35px !important; }
.m40 { margin: 40px !important; }
.m45 { margin: 45px !important; }
.m50 { margin: 50px !important; }
.m55 { margin: 55px !important; }
.m60 { margin: 60px !important; }
.m65 { margin: 65px !important; }
.m70 { margin: 70px !important; }
.m75 { margin: 75px !important; }
.m80 { margin: 80px !important; }

/*top*/

.mt00 { margin-top: 0 !important; }
.mt05 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mt65 { margin-top: 65px !important; }
.mt70 { margin-top: 70px !important; }
.mt75 { margin-top: 75px !important; }
.mt80 { margin-top: 80px !important; }

/*right*/

.mr00 { margin-right: 0 !important; }
.mr05 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }
.mr55 { margin-right: 55px !important; }
.mr60 { margin-right: 60px !important; }
.mr65 { margin-right: 65px !important; }
.mr70 { margin-right: 70px !important; }
.mr75 { margin-right: 75px !important; }
.mr80 { margin-right: 80px !important; }

/*bottom*/

.mb00 { margin-bottom: 0 !important; }
.mb05 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb65 { margin-bottom: 65px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb75 { margin-bottom: 75px !important; }
.mb80 { margin-bottom: 80px !important; }

/*left*/

.ml00 { margin-left: 0 !important; }
.ml05 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }
.ml55 { margin-left: 55px !important; }
.ml60 { margin-left: 60px !important; }
.ml65 { margin-left: 65px !important; }
.ml70 { margin-left: 70px !important; }
.ml75 { margin-left: 75px !important; }
.ml80 { margin-left: 80px !important; }


/*-------------------------------------------

padding

-------------------------------------------*/

/*all*/

.p00 { padding: 0 !important; }
.p05 { padding: 5px !important; }
.p10 { padding: 10px !important; }
.p15 { padding: 15px !important; }
.p20 { padding: 20px !important; }
.p25 { padding: 25px !important; }
.p30 { padding: 30px !important; }

/*top*/

.pt00 { padding-top: 0 !important; }
.pt05 { padding-top: 5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }

/*right*/

.pr00 { padding-right: 0 !important; }
.pr05 { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }

/*bottom*/

.pb00 { padding-bottom: 0 !important; }
.pb05 { padding-bottom: 5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }

/*left*/

.pl00 { padding-left: 0 !important; }
.pl05 { padding-left: 5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }

/*-------------------------------------------

Text

-------------------------------------------*/

/*align*/

.t-center { text-align: center !important; }
.t-left { text-align: left !important; }
.t-right { text-align: right !important; }
.v-top > * { vertical-align: top !important; }
.v-middle > * { vertical-align: middle !important; }
.v-base > * { vertical-align: baseline!important; }

/*style*/

.t-bold { font-weight: bold !important; }
.t-normal { font-weight: normal !important; }
.t-lineT{ text-decoration: line-through !important; }

/*size*/

.fs-xxl { font-size:1.857em !important; }
.fs-extral { font-size:1.571em !important; }
.fs-maximum { font-size: 1.286em !important; line-height: 1.44;} /*18px*/
.fs-large { font-size: 1.143em !important; line-height: 1.5;} /*16px*/
.fs-middle { font-size: 1em !important; line-height: 1.57;} /*14px*/
.fs-small { font-size: 0.857em !important; line-height: 1.5;} /*12px*/

/*background color*/
.bg-black { background: #000 !important; }
.bg-white { background: #fff !important; }
.bg-gainsboro { background: gainsboro !important; }


/*color*/
.t-black01 { color: #666 !important; }
.t-red01 { color: #f00 !important; }
.t-red02 { color: #c00 !important; }
.t-green01 { color: #01894d !important; }
.t-orange01 { color: #ED6D34 !important; }

/*decoration*/
.t-underLine { text-decoration: underline !important; }

/*line-height*/
.lh0 { line-height: 0 !important;}
.lh50 { line-height: 50% !important;}
.lh60 { line-height: 60% !important;}
.lh70 { line-height: 70% !important;}
.lh80 { line-height: 80% !important;}
.lh90 { line-height: 90% !important;}
.lh100 { line-height: 100% !important;}
.lh110 { line-height: 110% !important;}
.lh120 { line-height: 120% !important;}
.lh130 { line-height: 130% !important;}
.lh140 { line-height: 140% !important;}
.lh150 { line-height: 150% !important;}
.lh160 { line-height: 160% !important;}
.lh170 { line-height: 170% !important;}
.lh180 { line-height: 180% !important;}
.lh190 { line-height: 190% !important;}
.lh200 { line-height: 200% !important;}

/* button */
.button {
    display: inline-block;
    width: 250px;
    height: 40px;
    padding: 0 45px;
    font-size: 14px;
    text-decoration: none;
    text-align:left;
    line-height: 40px;
    outline: none;
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.button01 {
	background:url(../images/common/e-link.svg) top 10px right 38px no-repeat;
	background-color: #fff;
	color: #777;
	border:#777 solid 1px;
}


.button01:hover {
	color: #fff;
	background:url(../images/common/e-link_ov.svg) top 10px right 38px no-repeat;
	background-color: #777;
}

#give-btn{
    float: right;
    background:linear-gradient(#0375db,#00529C);
    margin-top: 27px;
    margin-right: 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    padding: 12px 18px;
    text-decoration: none;
    text-align: center;
    font-size: 0.8em;
}

#give-btn:hover{
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	-webkit-transition: all .3s;
	transition: all .3s;
}

#language-btn{
    float: right;
    margin-top: 27px;
    width: 58px;
    background: linear-gradient(#aaaaaa,#777777);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    padding: 12px 18px;
    text-decoration: none;
    text-align: center;
    font-size: 0.8em;
}

#language-btn:hover{
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	-webkit-transition: all .3s;
	transition: all .3s;
}
